<h1 mat-dialog-title class="text-danger" *ngIf="!isResolved"><strong>Are you sure to resolve this alert?</strong></h1>
<h5 *ngIf="errorMessage">{{errorMessage}}</h5>
<h2 class="text-success" *ngIf="isResolved"><strong>RESOLVED.</strong></h2>
<div mat-dialog-content class="mt-3"><strong>ALERT MAIL :</strong> {{this.data.alert.email}}</div>
<div mat-dialog-content><strong>ALERT DESCRIPTION :</strong> {{this.data.alert.description}}</div>
<div class="mt-4">
    <button mat-dialog-close class="btn btn-danger">CANCEL</button>
    <button class="btn btn-primary float-right" style="border-radius: 0%;" (click)="resolve(this.data.alert)">
     <span *ngIf="resolveStatus"  class="spinner-border spinner-border-sm " style="width: 1rem; height: 1rem; " role="status " aria-hidden="true "></span>
    <span>RESOLVE</span></button>
</div>