<div class="uploadfilecontainer" appDnd (fileDropped)="onFileDropped($event)">
    <input class="drag" type="file" #fileDropRef id="fileDropRef" (change)="fileChange($event)" />
</div>



<!-- <button class="btn btn-primary float-right mb-2" (click)="xlsDow('request')">xlsx</button> -->
<!-- <div *ngIf="spinner" class="spinner-border text-primary" style="margin: 40% 10%;"></div> -->
<p *ngIf="!spinner" class="float-right">Count:{{pan_count}}</p>
<table *ngIf="!spinner" class="table table-responsive-sm table-hover table-outline mb-0" id="tab" >
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>CompanyName</th>
        <th>State</th>
        <th>Pan</th>
        <th>Status</th>
        <th>Kra</th>
      </tr>
    </thead>
    <tbody>
      
    <tr *ngFor="let val of mails;let i=index">
        <td>{{i+1}}</td>
        <td>{{val.name}}</td>
        <td>{{val.state}}</td>
        <td>{{val.pan}}</td>
        <td>{{val.status}}</td>
        <td>{{val.kra}}</td>
    </tr>
    </tbody>
</table>


